@font-face {
    font-family: 'Fibre Vintage';
    src: url('../assets/fonts/fibre-vintage.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}


a {
    text-decoration: none;
}

.nav-bar-contents{
    width: 100%; 
    height: 100vh;
    background-image: url('../assets/images/Backgroundimg.jpeg') ;  
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    overflow: hidden;

}

.nav-bar-contents::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.6); 
    z-index: 1; 
}

.nav-bar-contents nav,
.restaurantslogan {
    position: relative;
    z-index: 2; 
}



.nav-bar-contents nav {
    position: relative;
    top: 40px;
    left: 150px;
    height: 10vh;
    background: rgba(0, 0, 0, 0.5); 
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.652);
    border-radius: 20px;
    z-index: 2;
    display: flex;             
    align-items: center;      
    justify-content: space-evenly; 
    padding: 0 20px; 
    cursor: pointer;
 
         
}

.resturantlogo img {
    width: 70px;
    height: 70px;
}


nav ul {
    display: flex;             
    list-style: none;          
    justify-content: space-evenly; 
    flex-grow: 1;             
    margin-left: 20px; 


}

nav ul li {
    margin: 0 15px;           
}

nav ul li a {
    font-size: 1.1em;
    color: #FFFFFF80;
    font-size: 20px;
    
}

.nav-bar-contents-hide{
    display: none;
}

.restaurantslogan
{
    max-height: 60vh; 
    padding: 40px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 20em;
    
}

.restaurantslogan h3{
    font-size: 90px;
    font-family: Fibre Vintage ;
    color: white;
    text-align: center;
    margin-bottom: 35px;
}

.restaurantslogan p{
    font-size: 20px;
    font-family: Poppins-regular;
    color: #FFFFFF;
    margin-bottom: 135px;
    
}

.restaurantslogan button{
    background-color: #D62828;
    color: white;
    font-size: 20px;
    width: 260px;
    height: 60px;
    border: 2px;
    border-radius: 35px;
    font-family: Poppins-regular;
    cursor: pointer;

}


.navbarbtn i{
    color:#FFFFFF80;
    font-size: 30px;
    border-radius: 50%;

}

.activetab{
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

.nav-bar-contents-hide{
    display: none;
}